@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.clr-white {
    color: white;
}

.btn-primary {
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: white;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.btn-secondary {
    margin-left: 8px;
    border: 1px solid rgba(0, 255, 136, 1);
    background: transparent;
    color: #00FF88;
}

.feature-container,
.episodes-container,
.podcast-container,
.host-container,
.footer-container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.feature-container h2,
.podcast-text h2,
.episodes-container h2,
.host-container h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

/* main style */

header {
    background-color: #1A0B2E;
}

nav {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: rgba(145, 0, 248, 1);
}

nav .logo h2 {
    font-size: 2.5rem;
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li {
    list-style: none;
    font-weight: 500;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.ham-menu {
    display: none;
}

.banner {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 101px 0;
}

.hero-container {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.banner-image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border: 8px solid rgba(42, 24, 108, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgb(145, 0, 248));
}

.badge {
    width: 75px;
    background-color: #00FF88;
    color: black;
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: 0 3px 27px 0 #00ff8850;
    position: relative;
    left: 352px;
    top: 52px;
}

.banner-text {
    margin-top: 40px;
}

.banner-text h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.banner-text p {
    margin-bottom: 24px;
}

.banner-text button {
    padding: 12px 20px;
    gap: 8px;
}

#podcast {
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
}

.podcast-text {
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.13);
}

.podcast-text h2 {
    margin-bottom: 16px;
}

.podcast-text p {
    /* max-width: 800px;
    margin: 0 auto; */
    line-height: 35px;
}

.podcast-data {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.data-card {
    padding: 5px 20px 0;
}

.data-card h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

#features {
    background-color: #230E3D;
    padding: 120px 200px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.cards-container .feature-card:nth-child(1) {
    grid-row: span 2;
}

.cards-container .feature-card:nth-child(2) {
    grid-column: span 2;
}

.cards-container .feature-card:nth-child(3) {
    grid-column: span 2;
}

.cards-container .feature-card:nth-child(4) {
    grid-column: span 2;
}

.feature-card {
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-card img {
    width: 60px;
    margin-bottom: 16px;
}

.feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

#episodes {
    padding: 120px 200px;
    background-color: #1A0B2E;
}

.episode-cards-container {
    display: flex;
    gap: 30px;
}

.episode-card {
    background-color: #250D44;
    border-radius: 24px;
    text-align: left;
}

.episode-card iframe {
    border-radius: 24px 24px 0px 0px;
}

.episode-card h3 {
    font-size: 1.5rem;
    margin: 24px;
}

.episode-card p {
    margin: 0 24px;
    line-height: 24px;
}

.episode-card .duration {
    margin: 24px;
    display: flex;
    gap: 6px;
    color: #00FF88;
}

.host-container h2 {
    margin-top: 120px;
}

.host-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.host-details {
    text-align: left;
}

.host-details h3 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.host-details p {
    line-height: 24px;
    margin-bottom: 16px;
}

.host-social {
    display: flex;
    gap: 8px;
}

.social-link {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 120px;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-container h1 {
    font-size: 5rem;
    margin-bottom: 32px;
    font-weight: 900;
}

.channels ul {
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.channels ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.footer-container p {
    margin-top: 32px;
}


.hide {
    display: none !important;
}


/* responsiveness for small device */
@media screen and (max-width:576px) {
    nav {
        width: 90%;
        padding: 20px;
    }

    nav .logo h2 {
        font-size: 1.5rem;
    }

    .menu {
        display: none;
    }

    nav .btn-primary {
        display: none;
    }

    .ham-menu,
    .channels {
        display: inline;
    }

    .banner {
        width: 100%;
        padding: 40px 0;
    }

    .banner-image img {
        width: 80px;
    }

    .badge {
        left: 230px;
        top: 40px;
    }

    .hero-container {
        width: 90%;
    }

    .banner-image {
        height: 200px;
        width: 200px;
    }

    .banner-text {
        margin-top: 24px;
    }

    .banner-text h1 {
        font-size: 2.5rem;
    }

    #podcast,
    #features,
    #episodes,
    footer {
        padding: 40px 15px;
    }

    .podcast-container,
    .feature-container,
    .episodes-container,
    .host-container,
    .footer-container {
        width: 100%;
    }

    .podcast-text {
        padding-bottom: 40px;
    }

    .podcast-text h2,
    .feature-container h2,
    .episodes-container h2,
    .host-container h2 {
        font-size: 2rem;
    }

    .podcast-text .lb {
        display: none;
    }

    .podcast-data {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
    }

    .cards-container .feature-card:nth-child(1),
    .cards-container .feature-card:nth-child(2),
    .cards-container .feature-card:nth-child(3),
    .cards-container .feature-card:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .episode-cards-container,
    .host-card {
        flex-direction: column;
        gap: 16px;
    }

    .episode-card iframe {
        width: 100%;
    }

    .episode-card h3 {
        font-size: 1.25rem;
        margin: 16px;
    }

    .episode-card p {
        margin: 0 16px;
    }

    .episode-card .duration {
        margin: 16px;
    }

    .host-container h2 {
        margin-top: 60px;
    }

    .host-details {
        text-align: center;
    }

    .host-social {
        justify-content: center;
    }

    .footer-container h1 {
        font-size: 3rem;
        margin-bottom: 24px;
    }

    .channels ul {
        width: 255px;
        margin: 0 auto;
        gap: 16px;
        flex-wrap: wrap;
    }

    .footer-container p {
        margin-top: 24px;
    }

    footer {
        background-size: 100% 100%;
    }


}


/* responsiveness for tablet device */
@media screen and (min-width:577px) and (max-width:992px) {
    nav {
        width: 90%;
        padding: 20px;
    }

    #podcast,
    #features,
    #episodes,
    footer {
        padding: 80px 20px;
    }

    .podcast-container,
    .feature-container {
        width: 100%;
    }

    .podcast-text .lb {
        display: none;
    }

    .podcast-data {
        margin-top: 40px;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .cards-container .feature-card:nth-child(1),
    .cards-container .feature-card:nth-child(2),
    .cards-container .feature-card:nth-child(3),
    .cards-container .feature-card:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .cards-container .feature-card:nth-child(5) {
        grid-column: span 2;
    }

    .episode-cards-container,
    .host-card {
        flex-direction: column;
    }

    .episode-card iframe {
        width: 100%;
    }

    .host-container h2 {
        margin-top: 60px;
    }

    .host-details {
        text-align: center;
    }

    .host-social {
        justify-content: center;
    }

    .footer-container h1 {
        font-size: 4rem;
    }

}

/* responsiveness for large tablet device */
@media screen and (min-width:993px) and (max-width:1200px) {

    #podcast,
    #features,
    #episodes {
        padding: 80px 20px;
    }

    .podcast-text .lb {
        display: none;
    }


    .podcast-data {
        margin-top: 80px;
        gap: 40px;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .cards-container .feature-card:nth-child(1),
    .cards-container .feature-card:nth-child(2),
    .cards-container .feature-card:nth-child(3),
    .cards-container .feature-card:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .cards-container .feature-card:nth-child(5) {
        grid-column: span 2;
    }

    .episode-cards-container {
        flex-direction: column;
    }

    .episode-card iframe {
        width: 100%;
    }
}